body{
  padding-top: 70px;
}

hr {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid #4285F4;
    display: block;
    -webkit-margin-start: auto;
    -webkit-margin-end: auto;
    height: 0;
    box-sizing: content-box;
    opacity: .2;
    max-width: none;
}

*:before, *:after {
    box-sizing: border-box;
}
.centerButton {
    display: table;
    margin: 0 auto;
}

a {
  color: #000;
}

a:active, a:hover, a:visited {
  outline: 0;
  text-decoration: none;
}
